@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*RESET STYLE RULE*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Fonts*/
.rubik-500 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.rubik-700 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

main{
    margin:auto;
}
#buy{
    width:2%;
    float: right;
}

#logo{
    width: 10%;
    margin-top: 0%;
    padding: 0;
    
}
 
    

img {
 width: 100%;
 padding: 10px 0;
 margin: auto;
}

body{
    background-color: rgb(22, 22, 22);
}

#buy-now a{
    display: block;
    width: 40%;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 15px;
    background-color: rgb(50, 28, 100);
    border-radius: 15px;
    color: white;
    margin-bottom: 30px;
     text-decoration: none;
}

#buy-now a:hover{
    background-color:rgb(118, 111, 216);
    color: white;
}
p{
    color: white;
    text-align: center;
    padding: 10;
    margin: 10px;

}